<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
</head>
<body data-spy="scroll" data-target="#main-navbar-container">

{% block content %}
<div class="container">컨텐츠 위치 입니다.</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block hidden %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>
